<section class="section-products">
    <div class="div-products">
          <h3 class="h3-products">100% natural</h3>
          <h2 class="h2-products">products</h2>
          <ul class="ul-products">
             <li class="item-products li-icecream-product">
                 <img src="./imgs/icecream-product.webp" alt="img" class="img-products">
                 <h4 class="h4-name-products">ice cream</h4>
                 <p class="p-products-dorts">...</p>
                 <p class="lorem-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                 <p class="lorem-products-td">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                 <img src="./imgs/arrow-product.webp" alt="" class="arrow-product">
             </li>
             <li class="item-products li-coffee-product">
                 <img src="./imgs/milk-product.webp" alt="img" class="img-products">
                 <h4 class="h4-name-products">ice coffee</h4>
                 <p class="p-products-dorts">...</p>
                 <p class="lorem-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                 <p class="lorem-products-td">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                 <img src="./imgs/arrow-product.webp" alt="" class="arrow-product">
             </li>
             <li class="item-products li-milk-product">
                 <img src="./imgs/coffee-product.webp" alt="img" class="img-products">
                 <h4 class="h4-name-products">milkshakes</h4>
                 <p class="p-products-dorts">...</p>
                 <p class="lorem-products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                 <p class="lorem-products-td">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                 <img src="./imgs/arrow-product.webp" alt="" class="arrow-product">
             </li>
          </ul>
    </div>
</section>