.swiper {
  width: 280px;
  height: 580px;
  @media screen and (min-width: 768px) {
    width: 620px;
  }
}

.swiper-slide {
  text-align: center;
  margin: 0 auto;
}

.slider-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.background {
  background-color: #fafafa;
  position: relative;
}

.slider-text {
  padding: 43px 66px 26px 57px;
  margin-bottom: 30px;

  position: relative;
  z-index: 2;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;

  text-align: center;

  color: #000000;
}

.svg-slider {
  position: absolute;
  display: block;
  width: 54px;
  height: 40px;
  top: 28px;
  left: 61px;
  z-index: 1;
  background-color: red;
}

.dots {
  display: flex;
  justify-content: center;

  margin-bottom: 18px;
}

.dots-element {
  width: 4px;
  color: red;
  height: 4px;
  font-size: 24px;
}

.dots-element:not(:last-child) {
  margin-right: 10px;
}

.sleder-owner {
  /* Emily, Los Angeles */

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;

  text-align: center;

  color: #000000;
}
/// slider
///
///
///
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  background-color: #d9d9d9;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px !important;
}

.swiper-pagination-bullet-active {
  background-image: url(./../imgs/icon-milk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
