/*COMPUTER*/
.h3-products {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4%;
    color: rgb(255, 165, 186);
    text-align: center;
    margin-top: 127px;
}
.section-products {
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.h2-products {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 6%;
    color: rgb(212, 20, 67);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 250px;
}
.img-products {
    width: 335px;
    height: 335px;
    margin-top: -210px;
}
.h4-name-products {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4%;
    margin-top: 38px;
    color: #fff;
    text-align: center;
}
.p-products-dorts {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4%;
    margin-top: 32px;
    color: #fff;
    text-align: center;
}
.lorem-products {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4%;
    margin-top: 32px;
    color: #fff;
    text-align:  center;
}
.arrow-product {
    width: 40px;
    height: 40px;
    margin-top: 62px;
    margin-left: 144px;
}
.li-icecream-product {
    width: 330px;
    height: 525px;
    background-color: rgb(255, 184, 202);
    margin-right: 24px;
}
.li-coffee-product {
    width: 330px;
    height: 525px;
    background-color: rgb(240, 209, 165);
}
.li-milk-product {
    width: 330px;
    height: 525px;
    background-color: rgb(194, 226, 151);
    margin-left: 24px;
}
.ul-products {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}
.item-products {
    border-radius: 24px;
}